:root {
  --black-950: #050505;
  --black-900: #0b0b0b;
  --black-800: #1a1a1a;
  --black-700: #2e2e2e;
  --black-600: #3d3d3d;
  --black-500: #555555;

  --gray-700: #616161;
  --gray-600: #4a4a4a;
  --gray-500: #9e9e9e;
  --gray-400: #bdbdbd;
  --gray-300: #d4d4d4;
  --gray-200: #e0e0e0;
  --gray-100: #f5f5f5;
  --gray-50: #fafafa;

  --blue-950: #0f172a;
  --blue-900: #022a99;
  --blue-800: #0234b3;
  --blue-700: #023fcc;
  --blue-600: #024ae6;
  --blue-500: #0253ff;
  --blue-400: #306aff;
  --blue-300: #5980ff;
  --blue-200: #82a3ff;
  --blue-100: #abc7ff;
  --blue-50: #d5e4ff;
}

.navbarContainer {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  height: 70px;
  width: 100%;
  padding: 0 32px;
  z-index: 10;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logoDot {
  height: 12px;
  width: 12px;
  background-color: var(--blue-500);
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(2, 83, 255, 0.4);
}

.logo p {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  white-space: nowrap;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 24px clamp(16px, 4vw, 32px) 64px;
  position: relative;
}

.content {
  display: grid;
  grid-template-columns: 550px 1fr;
  gap: 20px;
}

@media screen and (max-width: 1330px) {
  .content {
    grid-template-columns: 400px 1fr;
    gap: 25px;
  }
}

@media screen and (max-width: 990px) {
  .content {
    grid-template-columns: 1fr;
    gap: 25px;
  }
}

.formContainer {
  position: relative;
  background-color: rgba(255, 255, 255, 0.06);
  padding: 20px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 990px) {
  .formContainer {
    min-height: 500px;
  }
}

.formHeaderContainer {
  padding-bottom: 1rem;
}

.formHeaderContainer h4 {
  margin: 0;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}

.formHeaderContainer p {
  margin: 0;
  font-size: 14px;
  color: var(--gray-400);
}

.optionInputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  margin-bottom: 12px;
}

.timeRangeInputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
  gap: 8px;
}

@media screen and (max-width: 1330px) {
  .timeRangeInputs {
    grid-template-columns: 1fr;
    gap: 0;
  }
}

.optionInputContainer label {
  font-size: 14px;
  color: var(--gray-200);
  white-space: nowrap;
}

.optionInputContainer input {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: var(--gray-200);
  font-size: 1rem;
  outline: 0;
  padding: 12px 14px;
  border-radius: 8px;
}

.optionInputContainer input.invalid {
  border: 1px solid rgba(255, 24, 24, 0.8);
}

.optionInputContainer input::placeholder {
  color: var(--gray-200);
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.submitButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submitButton {
  padding: 10px 18px;
  background-color: var(--blue-500);
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  color: #fff;
  transition: all 0.2s ease;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  margin-top: 16px;
  display: grid;
  justify-items: center;
}

.submitButton:hover {
  filter: brightness(1.2);
  scale: 1.05;
}

.submitButton:active {
  filter: brightness(0.9);
  scale: 1;
}

.validationErrorMsg {
  margin: 0;
  font-size: 12px;
  color: rgba(255, 24, 24, 0.6);
}

.errorMessageContainer {
  margin: 20px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: rgba(255, 24, 24, 0.6);
  background-color: rgba(255, 24, 24, 0.1);
  border: 1px solid rgba(255, 24, 24, 0.4);
  border-radius: 8px;
}

.loaderWrapper {
  height: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.statisticsContainer {
  position: relative;
  min-height: 600px;
  background-color: rgba(255, 255, 255, 0.06);
  padding: 20px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.statContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.graphContainer {
  height: 420px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 12px;
}

.additionalDataContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: static;
}

@media screen and (max-width: 600px) {
  .additionalDataContainer {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
}

.statsContainer {
  display: flex;
  align-items: center;
  gap: 12px;
}

.statItem {
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 8px 20px;
  min-width: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
}

.statItem p {
  margin: 0;
}

.statText {
  color: var(--gray-300);
  font-size: 14px;
  margin-bottom: 8px;
}

.statNum {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.downloadButton {
  background-color: var(--blue-500);
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  text-wrap: nowrap;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.2s ease;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  text-decoration: none;
}

.downloadButton:hover {
  filter: brightness(1.2);
  scale: 1.05;
}

.downloadButton:active {
  filter: brightness(0.9);
  scale: 1;
}

@media screen and (max-width: 600px) {
  .statsContainer {
    justify-content: space-between;
  }
}
