.statItem {
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 8px 20px;
  min-width: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
}

.statItem p {
  margin: 0;
}

.statText {
  color: var(--gray-300);
  font-size: 14px;
  margin-bottom: 8px;
}

.statNum {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

@media screen and (max-width: 600px) {
  .statText {
    font-size: 12px;
  }

  .statNum {
    font-size: 18px;
  }
}

@media screen and (max-width: 390px) {
  .statItem {
    padding: 6px 18px;
  }
}
